<div class="alert alert-info">

    Aktivní filtr: <span class="color-red text-bold"> Archiv <i class="fa fa-archive fa-2x"></i></span>
    <a n:href="Default" class="color-red" title="Zrušit filtr"><i class="fa fa-times"></i></a>
    <p class="alert-info">
        <i class="fa fa-info-circle fa-2x"></i> V archivu jsou pacienti, kteří se <strong>nezobrazují</strong> v
        kalendáři. Pacienti odstranění z
        archivu se budou opět zobrazovat v kalendáři.
    </p>
</div>