<div class="alert alert-info">
    Aktivní filtr: <span class="star-yellow text-bold"> Oblíbení <i class="fa fa-star fa-2x"></i></span>
    <a n:href="Default" class="color-red" title="Zrušit filtr"><i class="fa fa-times"></i></a>
</div>