services:
    router: Routers\RouterFactory::createRouter
    - Libs\ProjectInitializer

    - App\Forms\FormFactory
    - App\Forms\SignFormFactory
    - Nette\Mail\SendmailMailer

    - Model\Patients
    - Latte\Engine


    - App\Forms\INewPatientFormFactory
